{% extends 'base.html' %}

{% block title %}
{{ advertisement.title }}
{% endblock title %}

{% block content %}
<h1>{{ advertisement.title }}</h1>
<p>Категория: {{ advertisement.get_category_display }}</p>

<div class="content">
    {{ advertisement.content|safe }}
</div>

<p class="text-muted text-end">Дата создания: {{ advertisement.created_at|date:"d M Y" }}</p>

<div class="media">
    {% for media in advertisement.media.all %}
        <div class="media-item">
            {% if media.media_type == 'image' %}
                <img src="{{ media.file.url }}" alt="Image" />
            {% elif media.media_type == 'video' %}
                <video controls>
                    <source src="{{ media.file.url }}" type="video/mp4">
                </video>
            {% endif %}
        </div>
    {% endfor %}
</div>

<h4>Написать отклик</h4>
{% if user.is_authenticated %}
<form method="post" action="{% url 'respond_to_ad' advertisement.pk %}">
    {% csrf_token %}
    {{ response_form.as_p }}
    <button type="submit" class="btn btn-primary mt-3">Отправить отклик</button>
</form>
{% else %}
    <p>Чтобы откликнуться на объявление, <a href="{% url 'login' %}?next={{ request.path }}">войдите в аккаунт</a>.</p>
{% endif %}

<h3 class="mt-4">Отклики</h3>
<div class="responses">
    {% for response in accepted_responses %}
        <div class="response">
            <p><strong>{{ response.author.username }}</strong>: {{ response.content }}</p>
            <p>Дата отклика: {{ response.created_at|date:"d M Y" }}</p>
        </div>
    {% empty %}
        <p>Нет откликов.</p>
    {% endfor %}
</div>
{% endblock %}

